*{
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
#header{
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  transition: 0.6s;
  z-index: 10000;
  background-color: #ffffffee;
  padding: 20px 5% !important;

}
/* #header.sticky{
  padding: 0px 5% !important;
   
} */
.navbar{
  width: 100% !important;
}
.navbar-nav a{
  color: #2b2b2b;
  font-size: 14px;
}
.nav-item{
  margin-left: 25px;
}

.fa-magnifying-glass{
  color: #e3ca94;
}
.fa-magnifying-glass:hover{
  color: #2b2b2b;
}

.navbar-nav a:hover{
  color: #e3ca94;
}
.navbar-logo img{
  width: 204px;
  height: 54px;
}
/* ================================================ */
dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: #2b2b2b;
    padding: 8px 0px 8px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown .dropbtn:hover{
    color: #e3ca94;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media(max-width: 567px) {
    #header {
      position: initial;
      padding: 10px 5% !important;
    }
  }